MAILTO="<your_email>"

# every 20 minutes, check that service is running and not erroring
*/20 * * * * /<path-to->/monitoring.sh

# every hour, compress file
5 * * * * /<path-to>/gzip_previous_hour.sh >> /<path-to>/gzip_previous_hour.log 2>&1

# every hour, copy the gzipped files via ssh
10 */1 * * * rsync -avzc -e "ssh" --chmod=g+s,g+rw --group=<group-name> --include='*.gz' --exclude='*.ndjson' /<path-to>/firehose_stream <login-to-destination>:<path-to-destination>/
